scikit-learn
matplotlib
numpy
pandas
sklearn
scipy
nltk
beautifulsoup4
requests
seaborn
deep-translator
protobuf==3.20.0
docx2txt
html5lib
spacy
PyPDF2
python-dotenv
tweepy
pyaudio
speechRecognition
pyttsx3